html{
	margin: 0;
	padding: 0;
	background: rgba(255,255,255,1);
}
body{
	margin: 0;
	padding: 0;
}
div, span, h1{
    -moz-box-sizing: border-box; 
    box-sizing: border-box;
}
nav{
	background: rgba(0,0,0,0.8);
	float: left;
	margin: 0 0 0 5vw;
	width: 20vw;
	max-width: 200px;
	height: 100vh;
}
nav > div{
	float: left;
	width: 100%;
	padding: 3vh;
	text-align: center;
	overflow-y: scroll;
}
nav > div:hover{
	background: rgba(0,0,0,0.2);
}
nav > div:first-child{
	padding: 0;
	float: left;
	width: 100%;
	margin: 0 0 0 0;
}
nav > div > form{
	float: left;
	width: 80%;
	margin: 10% 0 10% 8%;
}
nav > div > form > input{
	width: 100%;
}