html{
	margin: 0;
	padding: 0;
	background: rgba(255,255,255,1);
}
body{
	margin: 0;
	padding: 0;
}
div{
    -moz-box-sizing: border-box; 
    box-sizing: border-box;
}
nav{
	background: rgba(0,0,0,0.8);
	float: left;
	margin: 0 0 0 5vw;
	width: 20vw;
	max-width: 200px;
	height: 100vh;
}
nav > div{
	float: left;
	width: 100%;
	padding: 3vh;
	text-align: center;
	overflow-y: scroll;
}
nav > div:hover{
	background: rgba(0,0,0,0.2);
}

div#search{
	background: rgba(0,0,0,0.5);
	width: 55vw;
	padding: 3vh;
	text-align: center;
	margin: 5vh 10vw 0 10vw;
	float: left;
}